@using Microsoft.AspNetCore.Http;
@model TravelSystem.Models.AccountViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="content container">
    <div class="row">
        <div class="col-md-3 filter-by-block md-margin-bottom-60">
            @if (User.IsInRole("Seller"))
            {
                <partial name="~/Views/Shared/_PartialSellerMenu.cshtml" />
            }
            @if (User.IsInRole("Lendor"))
            {
                <partial name="~/Views/Shared/_PartialLendorMenu.cshtml" />
            }
            @if (User.IsInRole("Buyer"))
            {
                <partial name="~/Views/Shared/_PartialBuyerMenu.cshtml" />
            }
        </div>
        <div class="col-md-9">
            <div class="row margin-bottom-5">
                <div class="col-sm-12 result-category">
                    <h2>Change Password</h2>

                </div>
                @*<div class="col-sm-8">

                </div>*@
            </div><!--/end result category-->
            <div class="filter-results" id="inventory" style="padding:0px !important">
                <div class="row illustration-v2 margin-bottom-30">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["Success"]
                        </div>
                    }
                    <div class="col-12">
                        <form method="post" action="@Url.Action("ChangePassword","User")" enctype="multipart/form-data">
                            <div class="">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-md-12 well text-center">
                                            <div class="col-md-6 col-centered">
                                                <div class="reg-header">
                                                </div>
                                                @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "New Password*", @class = "form-control margin-bottom-5" })
                                                <span class="text-danger">@Html.ValidationMessageFor(o=>o.NewPassword, "")</span>
                                                @Html.PasswordFor(m => m.NewConfirmPassword, new { @placeholder = "Confirm Password*", @class = "form-control margin-bottom-5" })
                                                <span class="text-danger">@Html.ValidationMessageFor(o => o.NewConfirmPassword, "")</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <input type="submit" class="btn btn-primary btn-lg margin-bottom-20" value="Save" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!--/end filter resilts-->

        </div>
    </div><!--/end row-->
</div><!--/end container-->
<!--=== End Content Part ===-->
