@model TravelSystem.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
@if (TempData["Success"] == null)
{
    <div class="MainBody">
        <input type="hidden" name="finance" id="finance" value="@TempData["Finance"]">
        <div id="SellerRegistration">
        </div>
        <div id="BuyerRegistration">
        </div>
        <div id="LendorRegistration">
        </div>
        <div id="RegistrationContainer">
            <div class="container">
                <!--/Headline Center v2-->


                <div class="row margin-bottom-60" style="margin-top: 60px;">
                    <div class="col-sm-4" style="cursor:pointer">
                        <a id="LoadSellerPartial">
                            <div class="service-block-v1 md-margin-bottom-50" style=" background-color: #16b9cc;">

                                <h3 class="title-v3-bg text-uppercase">I am seller</h3>

                                <p class="text-uppercase color-white" href="#">I want to sell something</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4" style="cursor:pointer">
                        <a id="LoadBuyerPartial">
                            <div class="service-block-v1 md-margin-bottom-50" style=" background-color: #16b9cc;">

                                <h3 class="title-v3-bg text-uppercase">I am buyer</h3>

                                <p class="text-uppercase color-white" href="#">Want to Buy Something</p>
                            </div>
                        </a>
                    </div>


                    <div class="col-sm-4" style="cursor:pointer">
                        <a id="LoadLendorPartial">
                            <div class="service-block-v1 md-margin-bottom-50" style=" background-color: #16b9cc;">

                                <h3 class="title-v3-bg text-uppercase">I am lendor</h3>

                                <p class="text-uppercase color-white" href="#">Read More</p>
                            </div>
                        </a>
                    </div>
                </div><!--/row-->
                <div class="row margin-bottom-60">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container content-md">
        <!--=== End Illustration v1 ===-->
        <div class="heading heading-v1 margin-bottom-20">
            <h2>A link has been sent to your email Please Verify</h2>
        </div>
    </div>

}

@section Scripts{
    
    
    <script>
        $(document).ready(function () {
            if ($("#finance").val() === "yes") {
                $("#RegistrationContainer").hide();
                $("#BuyerRegistration").load("@Url.Action("BuyerRegistration", "User")");
            };
              if ($("#finance").val() === "no") {
                 $("#RegistrationContainer").hide();
            $("#SellerRegistration").load("@Url.Action("SellerRegistration","User")");
            };
        $("#LoadSellerPartial").click(function () {
            $("#RegistrationContainer").hide();
            $("#SellerRegistration").load("@Url.Action("SellerRegistration","User")");
        });
        $("#LoadLendorPartial").click(function () {
            $("#RegistrationContainer").hide();
            $("#LendorRegistration").load("@Url.Action("LendorRegistration", "User")");
        });
        $("#LoadBuyerPartial").click(function () {
            $("#RegistrationContainer").hide();
            $("#BuyerRegistration").load("@Url.Action("BuyerRegistration", "User")");
        });
    });
    </script>
}
