<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Dashboard","Admin")">
            <i class="fa fa-anchor mr-1"></i>
            <span>Dashboard</span>
        </a>
        <a class="nav-link" href="@Url.Action("BlogCategories","Admin")">
            <i class="fa fa-archive mr-1"></i>
            <span>Blog Categories</span>
        </a>
        <a class="nav-link" href="@Url.Action("Blogs","Admin")">
            <i class="fa fa-cube mr-1"></i>
            <span>Blogs</span>
        </a>
        <a class="nav-link" href="@Url.Action("Users","Admin")">
            <i class="fa fa-user mr-1"></i>
            <span>Users</span>
        </a>
        <a class="nav-link" href="@Url.Action("Vehicles","Admin")">
            <i class="fa fa-car mr-1"></i>
            <span>Vehicles</span>
        </a>
    </li>
</ul>
