@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@using TravelSystem.Helpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] - TravelSystem</title>

    <environment include="Development">
        <title>@ViewData["Title"]</title>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Favicon -->
        <link rel="shortcut icon" href="/favicon.png">
        <!-- Web Fonts -->
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800&amp;subset=cyrillic,latin'>
        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/shop.style.css">
        <!-- CSS Header and Footer -->
        <link rel="stylesheet" href="/assets/css/headers/header-v5.css">
        <link rel="stylesheet" href="/assets/css/footers/footer-v4.css">
        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="/assets/css/pages/log-reg-v3.css">
        <link rel="stylesheet" href="/assets/plugins/animate.css">
        <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
        <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="/assets/plugins/noUiSlider/jquery.nouislider.min.css">
        <link rel="stylesheet" href="/assets/plugins/master-slider/masterslider/style/masterslider.css">
        <link rel="stylesheet" href="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="/assets/plugins/revolution-slider/rs-plugin/css/settings.css">
        <!-- CSS Theme -->
        <link rel="stylesheet" href="/assets/css/theme-colors/default.css" id="style_color">
        <link href="~/css/bootstrap-social.css" rel="stylesheet" />
        <!-- CSS Customization -->
        <link rel="stylesheet" href="/assets/css/custom.css">
    </environment>
    <environment exclude="Development">
        <title>@ViewData["Title"]</title>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Favicon -->
        <link rel="shortcut icon" href="/favicon.png">
        <!-- Web Fonts -->
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800&amp;subset=cyrillic,latin'>
        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/shop.style.css">
        <!-- CSS Header and Footer -->
        <link rel="stylesheet" href="/assets/css/headers/header-v5.css">
        <link rel="stylesheet" href="/assets/css/footers/footer-v4.css">
        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="/assets/css/pages/log-reg-v3.css">
        <link rel="stylesheet" href="/assets/plugins/animate.css">
        <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
        <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="/assets/plugins/noUiSlider/jquery.nouislider.min.css">
        <link rel="stylesheet" href="/assets/plugins/master-slider/masterslider/style/masterslider.css">
        <link rel="stylesheet" href="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="/assets/plugins/revolution-slider/rs-plugin/css/settings.css">
        <!-- CSS Theme -->
        <link rel="stylesheet" href="/assets/css/theme-colors/default.css" id="style_color">
        <!-- CSS Customization -->
        <link rel="stylesheet" href="/assets/css/custom.css">
    </environment>
    <!-- JS Global Compulsory -->
    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <script src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/counter/jquery.counterup.min.js"></script>
    <script src="/assets/plugins/counter/waypoints.min.js"></script>
</head>
<body class="header-fixed">
    <style>
        .style-switcher {
            width: 330px !important;
        }
    </style>
    <div class="wrapper">
        <!--=== Header v5 ===-->
        <div class="header-v5 header-static">
            <!-- Topbar v3 -->
            <div class="topbar-v3">
                <div class="search-open">
                    <div class="container">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="search-close"><i class="icon-close"></i></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Topbar Navigation -->
                            <ul class="left-topbar">
                                <li>
                                    <a>Financing</a>
                                </li>
                            </ul><!--/end left-topbar-->
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-inline right-topbar pull-right">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    if (User.IsInRole("Lendor"))
                                    {
                                        <li><a href="@Url.Action("Index","Lendor")">My Dashboard</a> </li>
                                    }
                                    if (User.IsInRole("Seller"))
                                    {
                                        <li><a href="@Url.Action("Index","Seller")">My Dashboard</a> </li>
                                    }
                                    if (User.IsInRole("Buyer"))
                                    {
                                        <li><a href="@Url.Action("Index","Buyer")">My Dashboard</a> </li>
                                    }
                                    <li><a href="@Url.Action("Logout","User")">Logout</a> </li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("LogIn", "User")"> Login </a> | <a href="@Url.Action("Register", "User")"> Register </a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div><!--/container-->
            </div>
            <!-- End Topbar v3 -->
            <!-- Navbar -->
            <div class="navbar navbar-default mega-menu" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img id="logo-header" src="/logo1.png" alt="Logo" style=" max-width: 82px;">
                        </a>
                    </div>
                    @if (!User.IsInRole("Seller") && !User.IsInRole("Lendor"))
                    {
                        <div id="partialCart">
                            <partial name="_PartialCart.cshtml" />
                        </div>
                    }
                    <partial name="_PartialGeneralMenu.cshtml" />

                </div>
            </div>
            <!-- End Navbar -->
        </div>
        <!--=== End Header v5 ===-->
        <!--=== Slider ===-->
        @RenderBody()

        <!--=== Footer v4 ===-->
        <div class="footer-v4">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <!-- About -->
                        <div class="col-md-6 md-margin-bottom-40">
                            <a href="index.html"><img class="footer-logo" src="/logo3.png" alt="" style=" width: 120px;}"></a>
                            <!-- <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p> -->
                            <br>
                            <ul class="list-unstyled address-list margin-bottom-20">
                                <li><i class="fa fa-angle-right"></i>California, US, Lorem Lis Street, Orange, 25</li>
                                <li><i class="fa fa-angle-right"></i>Phone: 800 123 3456</li>
                                <li><i class="fa fa-angle-right"></i>Fax: 800 123 3456</li>
                                <li><i class="fa fa-angle-right"></i>Email: info@anybiz.co</li>
                            </ul>

                            <ul class="list-inline shop-social">
                                <li><a href="#"><i class="fb rounded-md fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="tw rounded-md fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="gp rounded-md fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="yt rounded-md fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                        <!-- End About -->
                        <!-- Simple List -->
                        <div class="col-md-3 col-sm-3">
                            <div class="row">
                                <div class="col-sm-12 col-xs-6 col-md-offset-12">
                                    <h2 class="thumb-headline">QUICK LINKS</h2>
                                    <ul class="list-unstyled simple-list margin-bottom-20">
                                        <li><a href="/Home/About">About</a></li>
                                        <li><a href="/Home/Contact">Contact</a></li>
                                        <li><a href="/Home/Service">Service</a></li>
                                        <li><a href="/Home/Working">How it works?</a></li>
                                        <li><a href="/Home/TermsAndConditions">Terms And Conditions</a></li>
                                        <li><a href="/Home/TermsOfUseSite">Terms Of Use Site</a></li>
                                        <li><a href="/Home/PrivacyPolicy">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- End Simple List -->
                    </div><!--/end row-->
                </div><!--/end continer-->
            </div><!--/footer-->

            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                2014 &copy; Unify. ALL Rights Reserved.
                                <a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-inline sponsors-icons pull-right">
                                <li><i class="fa fa-cc-paypal"></i></li>
                                <li><i class="fa fa-cc-visa"></i></li>
                                <li><i class="fa fa-cc-mastercard"></i></li>
                                <li><i class="fa fa-cc-discover"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/copyright-->
        </div>
        <!--=== End Footer v4 ===-->
    </div><!--/wrapper-->
    @{ await Html.RenderPartialAsync("_PartialLoanCalculator.cshtml");}
    <environment include="Development">

        <script src="~/js/notify.js"></script>
        <!-- JS Implementing Plugins -->
        <script src="/assets/plugins/back-to-top.js"></script>
        <script src="/assets/plugins/smoothScroll.js"></script>
        <script src="/assets/plugins/jquery.parallax.js"></script>
        <script src="/assets/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
        <script src="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
        <script src="/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- Master Slider -->
        <script src="/assets/plugins/master-slider/masterslider/masterslider.min.js"></script>
        <script src="/assets/plugins/master-slider/masterslider/jquery.easing.min.js"></script>
        <script src="/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <!-- JS Customization -->
        <script src="/assets/js/custom.js"></script>
        <!-- JS Page Level -->
        <script src="/assets/js/shop.app.js"></script>
        <script src="/assets/js/plugins/owl-carousel.js"></script>
        <script src="/assets/js/plugins/master-slider.js"></script>
        <script src="/assets/js/plugins/mouse-wheel.js"></script>
        <script src="/assets/js/plugins/revolution-slider.js"></script>
        <script src="/assets/js/plugins/style-switcher.js"></script>
        <script>
            jQuery(document).ready(function () {
                App.init();
                App.initScrollBar();
                App.initParallaxBg();
                App.initCounter();
                OwlCarousel.initOwlCarousel();
                RevolutionSlider.initRSfullWidth();
                StyleSwitcher.initStyleSwitcher();
                MouseWheel.initMouseWheel();
                MasterSliderShowcase2.initMasterSliderShowcase2();
            });
        </script>

    </environment>
    <environment exclude="Development">
        <!-- JS Global Compulsory -->

        <script src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
        <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/location.js"></script>
        <!-- JS Implementing Plugins -->
        <script src="/assets/plugins/back-to-top.js"></script>
        <script src="/assets/plugins/smoothScroll.js"></script>
        <script src="/assets/plugins/jquery.parallax.js"></script>
        <script src="/assets/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
        <script src="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
        <script src="/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- Master Slider -->
        <script src="/assets/plugins/master-slider/masterslider/masterslider.min.js"></script>
        <script src="/assets/plugins/master-slider/masterslider/jquery.easing.min.js"></script>
        <script src="/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <!-- JS Customization -->
        <script src="/assets/js/custom.js"></script>
        <script src="/assets/js/forms/page_contact_form.js"></script>
        <!-- JS Page Level -->
        <script src="/assets/js/shop.app.js"></script>
        <script src="/assets/js/plugins/owl-carousel.js"></script>
        <script src="/assets/js/plugins/master-slider.js"></script>
        <script src="/assets/js/plugins/mouse-wheel.js"></script>
        <script src="/assets/js/plugins/revolution-slider.js"></script>
        <script src="/assets/js/plugins/style-switcher.js"></script>
        <script>
            jQuery(document).ready(function () {
                App.init();
                App.initScrollBar();
                App.initParallaxBg();
                OwlCarousel.initOwlCarousel();
                RevolutionSlider.initRSfullWidth();
                StyleSwitcher.initStyleSwitcher();
                MouseWheel.initMouseWheel();
                PageContactForm.initPageContactForm();
                MasterSliderShowcase2.initMasterSliderShowcase2();
            });
        </script>
    </environment>

    <script>
        $(document).ready(function () {
            $(document).on('click', '.add-to-cart', function () {
                var id = $(this).attr("id");
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("AddToCart","Buyer")",
                    data: { id: id },
                    success: function (response) {
                        $("#partialCart").load(location.href + " #partialCart>*", "");
                        $.notify("Added to cart", "success");
                    }
                });
            });
            $(document).on('click', '.removeFromCart', function () {
                var id = $(this).attr("id");
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("RemoveFromCart", "Buyer")",
                    data: { id: id },
                    success: function (response) {
                        $("#partialCart").load(location.href + " #partialCart>*", "");
                        $.notify("Removed from cart", "success");
                        if ('@ViewData["Title"]' === "Cart") {
                            window.location.reload();
                        }
                    }
                });
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>


