@model TravelSystem.Models.Blogs
@using Microsoft.AspNetCore.Http;
@using TravelSystem.Services

@{
    ViewBag.Title = "Detail";
}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">@Model.Title</h1>

    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container content blog-full-width" style="min-height:500px">
    <!--Blog Post-->
    <div class="blog margin-bottom-40">
        @Html.Raw(Model.Body)
    </div>
    <!--End Blog Post-->
</div><!--/container-->
<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#reviews" role="tab" data-toggle="tab">Reviews (@Model.BlogComments.Count())</a></li>
    </ul>
    <div class="tab-content">
        <!-- Description -->
        <!-- Reviews -->
        <div class="tab-pane fade in active" id="reviews">
            <div class="product-comment margin-bottom-40">
                @if (Model.BlogComments.Count > 0)
                {
                    @foreach (var item in Model.BlogComments)
                    {
                        <div class="product-comment-in">
                            <img class="product-comment-img rounded-x" src="~/user.jpg" alt="">
                            <div class="product-comment-dtl">
                                <h4>@item.User.FullName</h4>
                                <p>@item.Comment</p>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No reviews yet</p>
                }
            </div>

            <h3 class="heading-md margin-bottom-30">Add a review</h3>
            <form action="@Url.Action("BlogComment","Blog")" method="post" id="sky-form3" class="sky-form sky-changes-4">
                <fieldset>
                    <div class="margin-bottom-30">
                        <label class="label-v2">Comment</label>
                        <label class="textarea">
                            <textarea rows="7" name="Comment" id="Comment" class="form-control" style="width:1134px"></textarea>
                        </label>
                    </div>
                </fieldset>
                <button type="submit" class="btn-u btn-u-sea-shop btn-u-sm pull-right">Submit</button>

                <input type="hidden" name="BlogId" id="VehicleId" value="@Model.Id" />
            </form>
        </div>
    </div>

</div>


