@model IEnumerable<TravelSystem.Models.Blogs>

@{
    ViewBag.Title = "Index";
    var totalBlogs = Convert.ToInt32(ViewBag.TotalBlogs);
    int pageNumber = !string.IsNullOrEmpty(Context.Request.Query["page"].ToString())?Convert.ToInt32(Context.Request.Query["page"].ToString()):1;
}

<link href="~/css/blog.css" rel="stylesheet" />
<div class="wrapper">

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Blog</h1>

        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row blog-page">
            <!-- Left Sidebar -->
            <div class="col-md-9 md-margin-bottom-40">

                <!--Blog Post-->
                <div class="row blog blog-medium margin-bottom-40">

                    @foreach (var item in Model)
                    {
                        <div class="col-md-5">
                            <img src="~/images/banner1.svg" class="img-responsive" />
                        </div>
                        <div class="col-md-7">
                            <h2><a href="#">@item.Title</a></h2>
                            <ul class="list-unstyled list-inline blog-info">
                                <li><i class="fa fa-calendar"></i> @item.CreatedDate.ToString("dd-MM-yyyy")</li>

                                <li><i class="fa fa-tags"></i> @item.CategoryIds</li>
                            </ul>
                            <p>

                                @if (item.Body != null && item.Body.Length > 350)
                                {
                                    string description = item.Body.Substring(0, 350);
                                    int index = description.LastIndexOf(' ');
                                    string outputdescription = description.Substring(0, index);
                                <p>
                                    @outputdescription...
                                </p>

                            }
                            else if (item.Body != null && item.Body.Length < 350)
                            {
                                <p>
                                    @item.Body
                                </p>
                            }
                                <p><a class="btn-u btn-u-sm" href="/Blog/Detail/@item.Id">Read More <i class="fa fa-angle-double-right margin-left-5"></i></a></p>
                            </div>
                        }

                </div>
                <!--End Blog Post-->
                <hr class="margin-bottom-40">

                <!--Pagination-->
                <div class="text-center">
                    
                 @if (totalBlogs > 5)
                 {

                 
                    <ul class="pagination">
                        @if (pageNumber > 1)
                        {
                            <li><a href="@Url.Action("Index","Blog",new { page = pageNumber-1})">«</a></li>
                        }

                        @for (var i = 1; i <= Convert.ToInt32(totalBlogs / 5)+1; i++)
                        {
                            <li>
                                <a @if (i == pageNumber) { @: class="active"
                                   }
                                   href="@Url.Action("Index","Blog",new { page = i})">@i</a>
                            </li>
                        }
                        @if (pageNumber < (totalBlogs / 5))
                        {
                            <li><a href="@Url.Action("Index","Blog",new { page = pageNumber+1})">»</a></li>
                        }


                    </ul>
                 }

                </div>
                <!--End Pagination-->
            </div>
            <!-- End Left Sidebar -->
            <!-- Right Sidebar -->
            <div class="col-md-3">
                <!-- Social Icons -->
                <div class="magazine-sb-social margin-bottom-30">
                    <div class="headline headline-md"><h2>Social Icons</h2></div>
                    <ul class="social-icons social-icons-color">
                        <li><a class="social_rss" data-original-title="Feed" href="#"></a></li>
                        <li><a class="social_facebook" data-original-title="Facebook" href="#"></a></li>
                        <li><a class="social_twitter" data-original-title="Twitter" href="#"></a></li>
                        <li><a class="social_vimeo" data-original-title="Vimeo" href="#"></a></li>
                        <li><a class="social_googleplus" data-original-title="Goole Plus" href="#"></a></li>
                        <li><a class="social_pintrest" data-original-title="Pinterest" href="#"></a></li>
                        <li><a class="social_linkedin" data-original-title="Linkedin" href="#"></a></li>
                        <li><a class="social_dropbox" data-original-title="Dropbox" href="#"></a></li>
                        <li><a class="social_picasa" data-original-title="Picasa" href="#"></a></li>
                        <li><a class="social_spotify" data-original-title="Spotify" href="#"></a></li>
                        <li><a class="social_jolicloud" data-original-title="Jolicloud" href="#"></a></li>
                        <li><a class="social_wordpress" data-original-title="Wordpress" href="#"></a></li>
                        <li><a class="social_github" data-original-title="Github" href="#"></a></li>
                        <li><a class="social_xing" data-original-title="Xing" href="#"></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- End Social Icons -->
                <!-- Posts -->
                <div class="posts margin-bottom-40">
                    <div class="headline headline-md"><h2>Recent Posts</h2></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Responsive Bootstrap 3 Template placerat idelo alac eratamet.</a></p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">100+ Amazing Features Layer Slider, Layer Slider, Icons, 60+ Pages etc.</a></p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Developer Friendly Code imperdiet condime ntumi mperdiet condim.</a></p>
                        </dd>
                    </dl>
                </div><!--/posts-->
                <!-- End Posts -->
                <!-- Tabs Widget -->
                <div class="headline headline-md"><h2>Tabs Widget</h2></div>
                <div class="tab-v2 margin-bottom-40">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home-1">About Us</a></li>
                        <li><a data-toggle="tab" href="#home-2">Quick Links</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="home-1" class="tab-pane active">
                            <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac ac adipiscing nunc.</p> <p>Pellentesque fermentum, ante ac felis consectetur id. Donec eget orci metusvivamus imperdiet.</p>
                        </div>
                        <div id="home-2" class="tab-pane magazine-sb-categories">
                            <div class="row">
                                <ul class="list-unstyled col-xs-6">
                                    <li><a href="#">Best Sliders</a></li>
                                    <li><a href="#">Parralax Page</a></li>
                                    <li><a href="#">Backgrounds</a></li>
                                    <li><a href="#">Parralax Slider</a></li>
                                    <li><a href="#">Responsive</a></li>
                                    <li><a href="#">800+ Icons</a></li>
                                </ul>
                                <ul class="list-unstyled col-xs-6">
                                    <li><a href="#">60+ Pages</a></li>
                                    <li><a href="#">Layer Slider</a></li>
                                    <li><a href="#">Bootstrap 3</a></li>
                                    <li><a href="#">Fixed Header</a></li>
                                    <li><a href="#">Best Template</a></li>
                                    <li><a href="#">And Many More</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Tabs Widget -->
                <!-- Photo Stream -->
                <div class="headline headline-md"><h2>Photo Stream</h2></div>
                <ul class="list-unstyled blog-photos margin-bottom-30">
                    <li><a href="#"><img class="hover-effect" alt="" src="assets/img/sliders/elastislide/5.jpg"></a></li>
                    <li><a href="#"><img class="hover-effect" alt="" src="assets/img/sliders/elastislide/6.jpg"></a></li>
                    <li><a href="#"><img class="hover-effect" alt="" src="assets/img/sliders/elastislide/8.jpg"></a></li>
                    <li><a href="#"><img class="hover-effect" alt="" src="assets/img/sliders/elastislide/10.jpg"></a></li>
                    <li><a href="#"><img class="hover-effect" alt="" src="assets/img/sliders/elastislide/11.jpg"></a></li>
                    <li><a href="#"><img class="hover-effect" alt="" src="assets/img/sliders/elastislide/1.jpg"></a></li>
                    <li><a href="#"><img class="hover-effect" alt="" src="assets/img/sliders/elastislide/2.jpg"></a></li>
                    <li><a href="#"><img class="hover-effect" alt="" src="assets/img/sliders/elastislide/7.jpg"></a></li>
                </ul>
                <!-- End Photo Stream -->
            </div>
            <!-- End Right Sidebar -->
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

</div>



