@model TravelSystem.Models.ApplicantDetails
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#userId").kendoDropDownList({
            placeholder: "Select User Id",
            dataTextField: "Id",
            dataValueField: "Id",
            //select: onSelect,
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Url.Action("GetAllUsers", "Admin")",
                    }
                }
            },
            value: [
                @Model.UserId
            ]
        });
    });
</script>
<section class="content">
    <form method="post" action="@Url.Action("SaveApplicantDetails","Admin")">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <button type="submit" class="btn btn-success float-right" id="btnSave">Save</button>
                        <button type="button" class="btn btn-danger float-right mr-1" id="btnBack" title="Back">Back</button>

                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(m => m.Id)
                                <div class="form-group">
                                    <label>Company Name</label>
                                    @Html.TextBoxFor(o => o.CompanyName, new { @class = " form-control", @style = "width:100%", @placeholder = "CompanyName" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.CompanyName, "")</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Year Established</label>
                                    @Html.TextBoxFor(o => o.YearEstablished, new { id = "datetimepicker", @class = "form-control", @style = "width:100%", @placeholder = "Year" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.YearEstablished, "")</span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>TradeStyle</label>
                                    @Html.TextBoxFor(o => o.TradeStyle, new { @class = " form-control", @style = "width:100%", @placeholder = "TradeStyleTradeStyle" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.TradeStyle, "")</span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>FederalTaxIdNumber</label>
                                    @Html.TextBoxFor(o => o.FederalTaxIdNumber, new { @class = " form-control", @style = "width:100%", @placeholder = "FederalTaxIdNumber" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.FederalTaxIdNumber, "")</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Country</label>
                                    @Html.TextBoxFor(o => o.Country, new { @class = " form-control", @style = "width:100%", @placeholder = "Country" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.Country, "")</span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>City</label>
                                    @Html.TextBoxFor(o => o.City, new { @class = " form-control", @style = "width:100%", @placeholder = "City" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.City, "")</span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>State</label>
                                    @Html.TextBoxFor(o => o.State, new { @class = " form-control", @style = "width:100%", @placeholder = "State" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.State, "")</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextBoxFor(o => o.Address, new { @class = " form-control", @style = "width:100%", @placeholder = "Address" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.Address, "")</span>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Zip Code</label>
                                    @Html.TextBoxFor(o => o.ZipCode, new { @class = " form-control", @style = "width:100%", @placeholder = "Zip Code" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.ZipCode, "")</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>ContactPerson</label>
                                    @Html.TextBoxFor(o => o.ContactPerson, new { @class = " form-control", @style = "width:100%", @placeholder = "ContactPerson" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.ContactPerson, "")</span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Telephone</label>
                                    @Html.TextBoxFor(o => o.Telephone, new { @class = " form-control", @style = "width:100%", @placeholder = "Telephone" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.Telephone, "")</span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>FaxNumber</label>
                                    @Html.TextBoxFor(o => o.FaxNumber, new { @class = " form-control", @style = "width:100%", @placeholder = "FaxNumber" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.FaxNumber, "")</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>UserId</label>
                                    <select id="userId" style="width:100%" name="UserId"></select>
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.UserId, "")</span>

                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.CheckBoxFor(o => o.IsCorportation, new { @class = "", @style = "", @placeholder = "" })
                                            <span class="text-danger">@Html.ValidationMessageFor(o => o.IsCorportation, "")</span>
                                            <label>IsCorportation</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.CheckBoxFor(o => o.IsPartnership, new { @class = "", @style = "", @placeholder = "IsPartnership" })
                                            <span class="text-danger">@Html.ValidationMessageFor(o => o.IsPartnership, "")</span>
                                            <label>IsPartnership</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.CheckBoxFor(o => o.IsProprietorship, new { @class = "", @style = "", @placeholder = "IsProprietorship" })
                                            <span class="text-danger">@Html.ValidationMessageFor(o => o.IsProprietorship, "")</span>
                                            <label>IsProprietorship</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CurrentCoaches</label>
                                    @Html.TextBoxFor(o => o.Message, new { @class = " form-control", @style = "width:100%", @placeholder = "CurrentCoaches" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.CurrentCoaches, "")</span>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Message</label>
                                    @Html.TextBoxFor(o => o.Message, new { @class = " form-control", @style = "width:100%", @placeholder = "Message" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.Message, "")</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.CheckBoxFor(o => o.IsCcorp, new { @class = "", @style = "", @placeholder = "" })
                                            <span class="text-danger">@Html.ValidationMessageFor(o => o.IsCcorp, "")</span>

                                            <label>IsCcorp</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.CheckBoxFor(o => o.IsScorp, new { @class = "", @style = "", @placeholder = "IsPartnership" })
                                            <span class="text-danger">@Html.ValidationMessageFor(o => o.IsScorp, "")</span>
                                            <label>IsScorp</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.CheckBoxFor(o => o.IsLlc, new { @class = "", @style = "", @placeholder = "IsProprietorship" })
                                            <span class="text-danger">@Html.ValidationMessageFor(o => o.IsLlc, "")</span>
                                            <label>IsLlc</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CurrentVans</label>
                                    @Html.TextBoxFor(o => o.CurrentVans, new { @class = " form-control", @style = "width:100%", @placeholder = "CurrentVans" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.CurrentVans, "")</span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CurrentSchoolBuses</label>
                                    @Html.TextBoxFor(o => o.CurrentSchoolBuses, new { @class = " form-control", @style = "width:100%", @placeholder = "CurrentSchoolBuses" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.CurrentSchoolBuses, "")</span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CurrentLimes</label>
                                    @Html.TextBoxFor(o => o.CurrentLimes, new { @class = " form-control", @style = "width:100%", @placeholder = "CurrentLimes" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.CurrentLimes, "")</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CurrentOthers</label>
                                    @Html.TextBoxFor(o => o.CurrentOthers, new { @class = " form-control", @style = "width:100%", @placeholder = "CurrentOthers" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.CurrentOthers, "")</span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CompanyInformation</label>
                                    @Html.TextBoxFor(o => o.CompanyInformation, new { @class = " form-control", @style = "width:100%", @placeholder = "CompanyInformation" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.CompanyInformation, "")</span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>ReasonForAcquisitione</label>
                                    @Html.TextBoxFor(o => o.ReasonForAcquisition, new { @class = " form-control", @style = "width:100%", @placeholder = "ReasonForAcquisition" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.ReasonForAcquisition, "")</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>VehicleId</label>
                                    @Html.TextBoxFor(o => o.VehicleId, new { @class = " form-control", @style = "width:100%", @placeholder = "VehicleId" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.VehicleId, "")</span>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CurrentFederalTaxIdNumber</label>
                                    @Html.TextBoxFor(o => o.CurrentFederalTaxIdNumber, new { @class = " form-control", @style = "width:100%", @placeholder = "CurrentFederalTaxIdNumber" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.CurrentFederalTaxIdNumber, "")</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>ApprovedByUserId</label>
                                    @Html.TextBoxFor(o => o.ApprovedByUserId, new { @class = " form-control", @style = "width:100%", @placeholder = "ApprovedByUserId" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.ApprovedByUserId, "")</span>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Approved Date</label>
                                    @Html.TextBoxFor(o => o.ApprovedDate, new { id = "datetime", @class = " form-control", @style = "width:100%", @placeholder = "ApprovedDate" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.ApprovedDate, "")</span>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.CheckBoxFor(o => o.ToBeDelievered, new { @class = "", @style = "", @placeholder = "" })
                                <span class="text-danger">@Html.ValidationMessageFor(o => o.ToBeDelievered, "")</span>
                                <label>To Be Delivered</label>
                            </div>
                        </div>

                        @*  <div class="" id="guarantors">
                                <div class="row">
                                    <div class="col-6">
                                        <h3 style=" margin-bottom: 20px;">PARTNERS, GUARANTORS AND PRINCIPALS</h3>
                                    </div>
                                    <div class="box-header with-border">
                                        <button type="button" class="btn btn-sm btn-primary float-right" id="guarantorBtn"><span class="fa fa-plus"></span></button>
                                        <button type="button" class="btn btn-sm btn-danger float-right" id="guarantorRemoveBtn" style="display:none"><span class="fa fa-minus"></span></button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.TextBoxFor(o => o.ApplicantsGuarantors[0].PrincipleOwner, new { @id = "ApplicantGuarantors_principleOwner", @placeholder = "Principal Owner", @class = "form-control margin-bottom-5" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsGuarantors[0].PrincipleOwner, "")</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.TextBoxFor(o => o.ApplicantsGuarantors[0].OwnerShip, new { @id = "ApplicantGuarantors_ownership", @placeholder = "Ownership", @class = "form-control margin-bottom-5" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsGuarantors[0].OwnerShip, "")</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.TextBoxFor(o => o.ApplicantsGuarantors[0].Title, new { @id = "ApplicantGuarantors_title", @placeholder = "Title", @class = "form-control margin-bottom-5" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsGuarantors[0].Title, "")</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.TextBoxFor(o => o.ApplicantsGuarantors[0].SocialSecurityNumber, new { @id = "ApplicantGuarantors_socialSecurityNumber", @placeholder = "Social Security Number", @class = "form-control margin-bottom-5" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsGuarantors[0].SocialSecurityNumber, "")</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.TextBoxFor(o => o.ApplicantsGuarantors[0].Address, new { @id = "ApplicantGuarantors_address", @placeholder = "Address", @class = "form-control margin-bottom-5" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsGuarantors[0].Address, "")</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            @Html.TextBoxFor(o => o.ApplicantsGuarantors[0].City, new { @id = "ApplicantGuarantors_city", @placeholder = "City", @class = "form-control margin-bottom-5" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsGuarantors[0].City, "")</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            @Html.TextBoxFor(o => o.ApplicantsGuarantors[0].State, new { @id = "ApplicantGuarantors_state", @placeholder = "State", @class = "form-control margin-bottom-5" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsGuarantors[0].State, "")</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.TextBoxFor(o => o.ApplicantsGuarantors[0].ZipCode, new { @id = "ApplicantGuarantors_zipCode", @placeholder = "Zip Code", @class = "form-control margin-bottom-5" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsGuarantors[0].ZipCode, "")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <h3 style=" margin-bottom: 20px;">INSURANCE INFORMATION</h3>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.ApplicantsInsurances[0].InsuranceCompanyName, new { @class = "form-control margin-bottom-5", @placeholder = "Insurance Company Name (Liability Physical Damage)" })
                                    <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsInsurances[0].InsuranceCompanyName, "")</span>
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(m => m.ApplicantsInsurances[0].Agent, new { @class = "form-control margin-bottom-5", @placeholder = "Agent" })
                                    <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsInsurances[0].Agent, "")</span>
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(m => m.ApplicantsInsurances[0].Telephone, new { @class = "form-control margin-bottom-5", @placeholder = "Telephone" })
                                    <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsInsurances[0].Telephone, "")</span>
                                </div>
                            </div>
                            <div class="" id="credit">
                                <div class="row">
                                    <div class="col-6 text-center">
                                        <h3 style=" margin-bottom: 20px;">CREDIT REFERENCES</h3>
                                    </div>
                                    <div class="box-header with-border">

                                        <button type="button" class="btn btn-sm btn-primary float-right" id="creditBtn"><span class="fa fa-plus"></span></button>
                                        <button type="button" class="btn btn-sm btn-danger float-right" id="creditRemoveBtn" style="display:none"><span class="fa fa-minus"></span></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(m => m.ApplicantsCreditReferences[0].BankName, new { @class = "form-control margin-bottom-5", @placeholder = "Bank Name" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsCreditReferences[0].BankName, "")</span>
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(m => m.ApplicantsCreditReferences[0].AccountNumber, new { @class = "form-control margin-bottom-5", @placeholder = "Account Number" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsCreditReferences[0].AccountNumber, "")</span>
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(m => m.ApplicantsCreditReferences[0].Contact, new { @class = "form-control margin-bottom-5", @placeholder = "Contact" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsCreditReferences[0].Contact, "")</span>
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(m => m.ApplicantsCreditReferences[0].Telephone, new { @class = "form-control margin-bottom-5", @placeholder = "Telephone" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsCreditReferences[0].Telephone, "")</span>
                                    </div>

                                </div>
                            </div>
                            <div class="reg-page">
                                <div class="reg-header text-center">
                                    <h3 style=" margin-bottom: 20px;">EQUIPMENT TO BE FINANCED</h3>
                                </div>


                                <div class="row">
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(m => m.ApplicantsFinancedEquipments[0].Quantity, new { @placeholder = "Quantity", @type = "number", @class = "form-control margin-bottom-5", @value = "1" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsFinancedEquipments[0].Quantity, "")</span>
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(m => m.ApplicantsFinancedEquipments[0].YearManufactureModel, new { @placeholder = "Year,Manufacture,Model", @class = "form-control margin-bottom-5" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsFinancedEquipments[0].YearManufactureModel, "")</span>
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(m => m.ApplicantsFinancedEquipments[0].Srequested, new { @placeholder = "S Requested", @class = "form-control margin-bottom-5" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsFinancedEquipments[0].Srequested, "")</span>
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(m => m.ApplicantsFinancedEquipments[0].Terms, new { @placeholder = "Terms", @class = "form-control margin-bottom-5" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.ApplicantsFinancedEquipments[0].Terms, "")</span>
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="col-sm-12">

                                        <div class="col-sm-3">
                                            <label>
                                                @Html.CheckBoxFor(o => o.ApplicantsFinancedEquipments[0].IsReplacement, new { @class = "check2", @checked = true }) Replacement
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>
                                                @Html.CheckBoxFor(o => o.ApplicantsFinancedEquipments[0].IsLease, new { @class = "check2" }) Lease
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>
                                                @Html.CheckBoxFor(o => o.ApplicantsFinancedEquipments[0].IsLoan, new { @class = "check2" }) Loan
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>
                                                @Html.CheckBoxFor(o => o.ApplicantsFinancedEquipments[0].IsExpansion, new { @class = "check2" }) Expansion
                                            </label>
                                        </div>
                                    </div>
                                            </div>
                                </div>*@
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>

<script>
    $(document).ready(function () {
        $("#files").kendoUpload();
        $("#datetimepicker").kendoDateTimePicker({
            value: new Date(),
            dateInput: true
        });

    });
    $(document).ready(function () {
        $("#files").kendoUpload();
        $("#datetime").kendoDateTimePicker({
            value: new Date(),
            dateInput: true
        });

    });
</script>
<script>
    function onSelect(e) {

        var dataItem = e.dataItem;
      var multiselect = $("#categories").data("kendoMultiSelect");
        var selectedData = [];
        var value = multiselect.value();
        var selectedCategories = value;
        selectedCategories.push(dataItem.Id);
        $("#blogCat").val(selectedCategories.join(","));

    };
    $(document).ready(function () {
        $("#btnBack").click(function () {
            window.location.href = "@Url.Action("ApplicantDetails","Admin")";
        });
    });
</script>
