@model TravelSystem.Models.BlogCategories
@{
    ViewData["Title"] = "Add Blog Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content">
    <form method="post" action="@Url.Action("SaveBlogCategories","Admin")">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <button type="submit" class="btn btn-success float-right" id="btnSave">Save</button>
                        <button type="button" class="btn btn-danger float-right mr-1" id="btnBack" title="Back">Back</button>

                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                        <div class="box-body">
                            @Html.HiddenFor(m=>m.Id)
                            <div class="form-group">
                                <label>Title</label>
                                @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", @style = "width:100%", @placeholder = "Title" })
                                <span class="text-danger">@Html.ValidationMessageFor(o => o.CategoryName)</span>
                            </div>
                        </div>
                </div>
                <!-- /.box -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </form>
</section>
<!-- /.content -->

    <script>
    $(document).ready(function () {
        $("#btnBack").click(function () {
            window.location.href = "@Url.Action("BlogCategories","Admin")";
        })
    })
    </script>
