@model TravelSystem.Models.VehicleTypes
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <script>
       $(document).ready(function () {
        $("#vehicleTypes").kendoDropDownList({
            placeholder: "Select Vehicle Type",
            dataTextField: "VehicleTypeName",
            dataValueField: "Id",
            select: onSelect,
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Url.Action("GetVehicleTypes","Admin")",
                    }
                }
            },
            value: [

            ]
        });
    });
    </script>
    <section class="content">
        <form method="post" action="@Url.Action("SaveVehicleType","Admin")">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <button type="submit" class="btn btn-success float-right" id="btnSave">Save</button>
                            <button type="button" class="btn btn-danger float-right mr-1" id="btnBack" title="Back">Back</button>

                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.HiddenFor(m => m.Id)
                                    <div class="form-group">
                                        <label>Vehicle Type Name</label>
                                        @Html.TextBoxFor(o => o.VehicleTypeName, new { @class = " form-control", @style = "width:100%", @placeholder = "Name" })
                                        <span class="text-danger">@Html.ValidationMessageFor(o => o.VehicleTypeName, "")</span>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Description</label>
                                        @Html.TextBoxFor(o => o.Description, new { @class = " form-control", @style = "width:100%", @placeholder = "Description" })
                                        <span class="text-danger">@Html.ValidationMessageFor(o => o.Description, "")</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
        <script>
    function onSelect(e) {

        var dataItem = e.dataItem;
      var multiselect = $("#categories").data("kendoMultiSelect");
        var selectedData = [];
        var value = multiselect.value();
        var selectedCategories = value;
        selectedCategories.push(dataItem.Id);
        $("#blogCat").val(selectedCategories.join(","));

    };
    $(document).ready(function () {
        $("#btnBack").click(function () {
            window.location.href = "@Url.Action("VehicleTypes","Admin")";
        });
    });
        </script>
