@using Microsoft.AspNetCore.Http;
@model TravelSystem.Models.AccountViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content">
    <form method="post" action="@Url.Action("ChangePassword","Admin")" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <button type="submit" class="btn btn-success float-right" id="btnSave">Save</button>
                        <button type="button" class="btn btn-danger float-right mr-1" id="btnBack" title="Back">Back</button>

                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.HiddenFor(m => m.Email)
                                <div class="form-group">
                                    <label>New Password</label>
                                    @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "New Password*", @class = "form-control" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.NewPassword, "")</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    @Html.PasswordFor(m => m.NewConfirmPassword, new { @placeholder = "Confirm Password*", @class = "form-control" })
                                    <span class="text-danger">@Html.ValidationMessageFor(o => o.NewConfirmPassword, "")</span>&nbsp;

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </section>