@using Microsoft.AspNetCore.Http;
@model TravelSystem.Models.AccountViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post" action="@Url.Action("ChangePassword","Admin")" enctype="multipart/form-data">
                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card mb-3">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <h3 class="card-header-text">Change Password</h3>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                                                    <button type="button" class="btn btn-danger" id="btnBack" data-placement="left" data-toggle="tooltip" title="Back"><i class="fa fa-reply btn-icon"></i></button>
                                                    <button type="submit" class="btn btn-success" id="btnSave" data-placement="left" data-toggle="tooltip" title="Save"><i class="fa fa-save btn-icon"></i></button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @Html.HiddenFor(m => m.Email)
                                                    <div class="form-group">
                                                        <label>New Password</label>
                                                        @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "New Password*", @class = "form-control" })
                                                        <span class="text-danger">@Html.ValidationMessageFor(o => o.NewPassword, "")</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Confirm Password</label>
                                                        @Html.PasswordFor(m => m.NewConfirmPassword, new { @placeholder = "Confirm Password*", @class = "form-control" })
                                                        <span class="text-danger">@Html.ValidationMessageFor(o => o.NewConfirmPassword, "")</span>&nbsp;

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
</form>
