@{
    ViewData["Title"] = "Inventory";
    var totalVehicles = Convert.ToInt32(ViewBag.TotalVehicles);
    int pageNumber = !string.IsNullOrEmpty(Context.Request.Query["page"].ToString()) ? Convert.ToInt32(Context.Request.Query["page"].ToString()) : 1;

}
<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-3 filter-by-block md-margin-bottom-60">
            <h1>Filter By</h1>
            <div class="panel-group" id="accordion-v4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v" href="#collapseFive">
                                Search
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form>
                                <input type="hidden" value="@ViewBag.TakeVehicles" id="take" />
                                <input type="hidden" value="@ViewBag.SkipVehicles" id="skip" />
                                <input type="text" id="searchText" value="@ViewBag.SearchText" class="form-control" placeholder="Keyword" style="width:100%" />&nbsp;
                                <input type="text" id="searchModel" value="@ViewBag.SearchModel" class="form-control" placeholder="Model" style="width:100%" />&nbsp;
                                <input type="date" id="searchYear" value="@ViewBag.SearchYear" class="form-control" placeholder="Year" style="width:100%" />&nbsp;
                                <input type="button" class="btn btn-primary margin-top-20" id="searchBtn" value="Search" />
                            </form>
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->
            <div class="panel-group" id="accordion-v2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseTwo">
                                Types
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-unstyled checkbox-list">
                                @foreach (var item in TempData["VehicleTypes"] as IEnumerable<TravelSystem.Models.VehicleTypes>)
                                {
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox" value="@item.Id" class="FilterCheck" />
                                            <i></i>
                                            @item.VehicleTypeName
                                        </label>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->
            <div class="panel-group" id="accordion-v4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v4" href="#collapseFour">
                                Price
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="slider-snap"></div>
                            <p class="slider-snap-text">
                                <span class="slider-snap-value-lower" id="LowerHandle"></span>
                                <span class="slider-snap-value-upper" id="HigherHandle"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->
        </div>
        <div class="col-md-9">
            <div class="row margin-bottom-5">
                <div class="col-sm-8 result-category">
                    <h2>Car For You</h2>
                    @*<small class="shop-bg-green badge-results"></small>*@
                </div>
                @* <div class="col-sm-8">
                <ul class="list-inline clear-both">
                    <li class="sort-list-btn">
                        <h3>Search :</h3>

                    </li>
                </ul>
            </div>*@
            </div><!--/end result category-->
            <div class="filter-results" id="inventory">

            </div><!--/end filter resilts-->
            <div class="text-center">

                @if (totalVehicles > 12)
                {


                    <ul class="pagination">
                        @if (pageNumber > 1)
                        {
                            <li><a href="@Url.Action("Inventory","Vehicles")?page=@(pageNumber-1)">«</a></li>
                        }

                        @for (var i = 1; i <= Convert.ToInt32(totalVehicles / 12) + 1; i++)
                        {
                            <li>
                                <a @if (i == pageNumber) { @: class="active"
                                   }
                                   href="@Url.Action("Inventory","Vehicles")?page=@i">@i</a>
                            </li>
                        }
                        @if (pageNumber < (totalVehicles / 12))
                        {
                            <li><a href="@Url.Action("Inventory","Vehicles")?page=@(pageNumber+1)">»</a></li>
                        }


                    </ul>
                }

            </div>
        </div>
    </div><!--/end row-->
</div><!--/end container-->
<!--=== End Content Part ===-->

@section Scripts{
    <script>

        $(document).ready(function () {
            var Checked = [];
            $("#inventory").load('/Vehicles/InventoryGrid?searchText=' + $("#searchText").val() + "&searchModel=" + $("#searchModel").val() + "&searchYear=" + $("#searchYear").val() + "&take=" + $("#take").val() + "&skip=" + $("#skip").val());
            $(".FilterCheck").change(function () {
                if ($(this).prop("checked")) {
                    Checked.push(parseInt($(this).val()));
                }
                else {
                    var index = Checked.indexOf(parseInt($(this).val()));
                    if (index !== -1) {
                        Checked.splice(index, 1);
                    }
                }
                loadInventory();
            });
            $(".slider-snap").change(function () {
                loadInventory();
            });
            $(document).on("click", "#searchBtn", function () {
                loadInventory();
            });
            function loadInventory() {
                var searchText = $("#searchText").val();
                var searchModel = $("#searchModel").val();
                var searchYear = $("#searchYear").val();
                var fromPrice = $(".slider-snap-value-lower").html();
                var toPrice = $(".slider-snap-value-upper").html();
                var vehicleIds = Checked.join(",");
                $("#inventory").load('/Vehicles/InventoryGrid?vehicleIds=' + vehicleIds + "&fromPrice=" + fromPrice + "&toPrice=" + toPrice + "&searchText=" + searchText + "&searchModel=" + searchModel + "&searchYear=" + searchYear + "&take=" + $("#take").val() + "&skip=" + $("#skip").val());
            }

        });

    </script>

}
