@{
    ViewData["Title"] = "Inventory";
}
<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-3 filter-by-block md-margin-bottom-60">
            <h1>Filter By</h1>

            <div class="panel-group" id="accordion-v2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseTwo">
                                Types
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-unstyled checkbox-list">
                                @foreach (var item in TempData["VehicleTypes"] as IEnumerable<TravelSystem.Models.VehicleTypes>)
                                {
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox" value="@item.Id" class="FilterCheck" />
                                            <i></i>
                                            @item.VehicleTypeName
                                        </label>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->
            <div class="panel-group" id="accordion-v4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v4" href="#collapseFive">
                                Search
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form></form>
                            <input type="text" id="searchModel" value="@ViewBag.SearchModel" class="form-control" style="width:100%" />&nbsp;
                            <input type="text" id="searchYear" value="@ViewBag.SearchYear" class="form-control" style="width:100%" />&nbsp;
                           
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->
            <div class="panel-group" id="accordion-v4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v4" href="#collapseFour">
                                Price
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="slider-snap"></div>
                            <p class="slider-snap-text">
                                <span class="slider-snap-value-lower" id="LowerHandle"></span>
                                <span class="slider-snap-value-upper" id="HigherHandle"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row margin-bottom-5">
                <div class="col-sm-4 result-category">
                    <h2>Car For You</h2>
                    @*<small class="shop-bg-green badge-results"></small>*@
                </div>
                <div class="col-sm-8">
                    <ul class="list-inline clear-both">
                        <li class="sort-list-btn">
                            <h3>Search :</h3>
                            <input type="text" id="searchText" value="@ViewBag.SearchText" class="form-control" style="width:70%" />
                           
                        </li>
                        </ul>
                </div>
            </div><!--/end result category-->
            <div class="filter-results" id="inventory">

            </div><!--/end filter resilts-->
            @*<div class="text-center">
                    <ul class="pagination pagination-v2">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>*@<!--/end pagination-->
        </div>
    </div><!--/end row-->
</div><!--/end container-->
<!--=== End Content Part ===-->

@section Scripts{
<script>
       
        $(document).ready(function () {
            var Checked = [];
            var selectedDate = $("#searchYear").val();
            var date = moment(selectedDate).format("YYYY-MM-DD"); 
            
            var url = '/Vehicles/InventoryGrid?searchText=' + $("#searchText").val() + "&searchModel=" + $("#searchModel").val();
            console.log(url)
            $("#inventory").load(url);
            $(".FilterCheck").change(function () {
                if ($(this).prop("checked")) {
                    Checked.push(parseInt($(this).val()));
                }
                else {
                    var index = Checked.indexOf(parseInt($(this).val()));
                    if (index !== -1) {
                        Checked.splice(index, 1);
                    }
                }
                loadInventory();
            });
            $(".slider-snap").change(function () {
                loadInventory();
            });
            $(document).on("keydown","#searchText",function () {
                loadInventory();
            }); 
            $(document).on("keydown", "#searchModel", function () {
                loadInventory();
            });
            $(document).on("keydown", "#searchYear", function () {
                loadInventory();
            });

         
            function loadInventory() {
                var searchText = $("#searchText").val();
                var searchModel = $("#searchModel").val();
                var searchYear = $("#searchYear").val();
                var date = moment(searchYear).format("YYYY-MM-DD"); 
                var fromPrice = $(".slider-snap-value-lower").html();
                var toPrice = $(".slider-snap-value-upper").html();
                var vehicleIds = Checked.join(",");
                $("#inventory").load('/Vehicles/InventoryGrid?vehicleIds=' + vehicleIds + "&fromPrice=" + fromPrice + "&toPrice=" + toPrice + "&searchText=" + searchText + "&searchModel=" + searchModel);
            }
            
        });
     
    </script>

}
